<div class="content">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header"><h5 class="title" >Add Car</h5>
    <div class="card-body">
    
         <form [formGroup]="carUpdateForm">
             
             <div class="mb-3">

             <label for="carName">Car Name</label>
             <div class="form-group">
                 <input  
                 type="text"
                 id="carName"
                 formControlName="carName"
                 class="form-control"
                 placeholder="Car Name"
                 
                 />
             </div>
            </div>

            <div class="mb-3"> 
                 <label for="brandId">Brand No</label>
                 <div class="form-group">
                <input  
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="brandId "  
                />
            </div>
            </div>

     <div class="mb-3"> 
         <label for="colorId">Color No</label>
            <div class="form-group">
                <input  
                type="number"
                id="colorId"
                formControlName="colorId"
                class="form-control"
                placeholder="colorId"    
                />
            </div>
           
            </div>

            <div class="mb-3">
                <label for="unitsInStock">UnitsInStock</label>
            <div class="form-group">
                <input  
                type="number"
                id="unitsInStock"
                formControlName="unitsInStock"
                class="form-control"
                placeholder="UnitsInStock"
                />
            </div>
            </div>

            <div class="mb-3"> 
                <label for="modelYear">ModelYear </label>
                <div class="form-group">
               <input  
               type="number"
               id="modelYear"
               formControlName="modelYear"
               class="form-control"
               placeholder="modelYear "  
               />
           </div>
           </div>
           
           <div class="mb-3"> 
            <label for="dailyPrice">DailyPrice </label>
            <div class="form-group">
           <input  
           type="number"
           id="dailyPrice"
           formControlName="dailyPrice"
           class="form-control"
           placeholder="dailyPrice "  
           />
       </div>
       </div>
       <div class="mb-3"> 
        <label for="description">description </label>
        <div class="form-group">
       <input  
       type="text"
       id="description"
       formControlName="description"
       class="form-control"
       placeholder="description "  
       />
   </div>
   </div>
   <div class="mb-3"> 
    <label for="carId">carId </label>
    <div class="form-group">
   <input  
   type="number"
   id="carId"
   formControlName="carId"
   class="form-control"
   placeholder="carId "  
   />
</div>
</div>
         </form>
    
    </div>
    <div class="card-footer">
    <button class="btn btn-fill btn-primary" (click)="update()">UPDATE </button>    
    
    </div>
    
    </div>
    </div>
    </div> 
    </div>
